<div id="payment-page">
  <div class="container">
    <div class="payment-container">
      <div class="test-payment">
        <%= form_tag(checkout_path, :method => "post") do %>
          Country<br/>
          <%= select_tag :country, options_for_select(['FI'], "FI") %><br/><br/>

          Currency<br/>
          <%= select_tag :currency, options_for_select(['EUR'], "EUR") %><br/><br/>

          Recurring<br/>
          <%= select_tag :recurring, options_for_select(%w[none weekly monthly], "none") %><br/><br/>

          Amount (minor)<br/>
          <%= number_field_tag :amount, 1025 %><br/><br/>

          Order reference<br/>
          <%= text_field_tag :reference, SecureRandom.uuid %><br/><br/>

          <%= submit_tag "Test payment" %>
        <% end %>
      </div>
    </div>
  </div>
</div>