<div id="clientKey" class="hidden"><%= @client_key %></div>
<div id="type" class="hidden"><%= @type %></div>
<div id="country" class="hidden"><%= @country %></div>
<div id="currency" class="hidden"><%= @currency %></div>
<div id="amount" class="hidden"><%= @amount %></div>
<div id="recurring" class="hidden"><%= @recurring %></div>

<div id="payment-page">
  <div class="container">
    <div class="payment-container">
      <div id=<%= @type %> class="dropin-gradient"></div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'adyenImplementation', 'data-turbolinks-track': 'reload' %>